---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);

---

<BaseLayout>

    <div class="pb-4 mt-5">
      <div id="nameHeader" class="text-3xl font-bold">Carlos Z. Bent</div>
      <div class="text-xl py-3 font-bold">Software Engineer and Writer</div>
    </div>

    <hr class="border-accent" >

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-7">My most recent writing</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          badge={post.data.badge}
          target="_self"
        />
      ))
    }

  <!--CONTAINER FOR ALL THE NEWSLETTER RELATED ELEMENTS-->
  <h2 class="newsletterHeader my-3 text-2xl text-center mt-16">
      Receive your regular dosis of food for thought
  </h2>
  <h3 class="newsletterHeader my-3 text-lg text-center">
      Leave your data and click subscribe and you'll be on board 🎉
  </h3>
  <iframe src="https://carloszbent.substack.com/embed" 
  width="90%" height="320"
  class="newsletter-embed mb-2 mt-5 mx-auto rounded-lg shadow-xl border-2 border-accent"
  style="background:#fafafa; padding:1rem" frameborder="0" scrolling="no">
</iframe>    

</BaseLayout>

<script>
  import mixpanel from "mixpanel-browser";
  import { MIXPANEL_ID } from "../config";
    
  window.addEventListener('load', ()=>{
    mixpanel.init(MIXPANEL_ID)
    mixpanel.track("Website visit")
  })

</script>