---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-3xl font-bold">Carlos Z. Bent</div>
      <div class="text-xl py-3 font-bold">Software Engineer and Writer</div>
      <div class="py-2">

      </div>
      <div class="mt-8">
        <a class="btn border-none hover:bg-primary hover:text-slate-800 hover:shadow-2xl transition-all duration-100 ease-in-out" href="https://twitter.com/CarlosZBent" target="_blank"> Let's connect!</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">My most recent writing</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        // <div class="divider my-0"></div>
      ))
    }

<div class="newsletterContainer mt-10 mx-auto shadow-lg px-4 py-8 rounded-md bg-primary"> 
  <!--CONTAINER FOR ALL THE NEWSLETTER RELATED ELEMENTS-->
  <h2 class="newsletterHeader my-3 text-2xl text-center">
      Receive your regular dosis of food for thought
  </h2>
  <h3 class="newsletterHeader my-3 text-lg text-center">
      Leave your data and click subscribe and you'll be on board 🎉
  </h3>
  <iframe src="https://carloszbent.substack.com/embed" width="480" height="320" class="newsletter-embed mb-1 mt-10 mx-auto rounded-md"
  style="background:#fafafa; padding:1rem" frameborder="0" scrolling="no"></iframe>    

</div>

</BaseLayout>
