---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Carlos Z. Bent
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. Please keep this line to support my work :) -->
    <a href="https://astro-modern-personal-website.netlify.app/" target="_blank" id="footerLinkTemplate" class="font-bold">Website Template</a> developed by
    <a href="https://manuelernestog.github.io" target="_blank" id="footerLinkManuel" class="font-bold">Manuel Ernesto ⚡️</a>
  </div>
</footer>

<script>
  import mixpanel from "mixpanel-browser";
  import { MIXPANEL_ID, CURRENT_DATE, SUPABASE_ANALYTICS_TABLE } from "../config";
  import { insertIntoSupabase } from "../supabase_conn";

  let footerLinkTemplate = document.getElementById("footerLinkTemplate");
  let footerLinkManuel = document.getElementById("footerLinkManuel");
    
  footerLinkTemplate.addEventListener('click', (e)=>{
    mixpanel.init(MIXPANEL_ID)
    mixpanel.track("footerLink for Astro Template clicked")
    const supabaseData = {"date":CURRENT_DATE, "event_type":"footerLink for Astro Template clicked"};
    insertIntoSupabase(SUPABASE_ANALYTICS_TABLE, supabaseData);
  })

  footerLinkManuel.addEventListener('click', (e)=>{
    mixpanel.init(MIXPANEL_ID)
    mixpanel.track("footerLink for Manuel's' page clicked")
    const supabaseData = {"date":CURRENT_DATE, "event_type":"footerLink for Manuel's' page clicked"};
    insertIntoSupabase(SUPABASE_ANALYTICS_TABLE, supabaseData);
  })
  
</script>